<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <h:form id="new-class-form" styleClass="new-element-form" layout="block">
        <h1>New Class</h1>
        <h:panelGrid id="new-class-form-table" columns="2" columnClasses="labelColumn, inputColumn">
            <h:outputLabel value="Path" />
            <h:outputLabel id="new-class-path" />
            <h:outputLabel value="Name" />
            <h:inputText id="new-class-name" name="name" />
        </h:panelGrid>

        <div class="bottom">
            <div id="wrapper">
                <a href="#" class="link" onclick="hideNewElementModal('class')">
                    Cancel
                </a>
                <a href="#" class="button" onclick="validateNewElement('class'); createNewClass(); hideNewElementModal('class')">
                    Save
                </a>
            </div>
        </div>
    </h:form>
</ui:composition>