<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <div class="top-row">
        <h1>New</h1>
    </div>

    <ul>

        <li class='element-choice' onclick="hideContextMenu(); showNewElementModal('folder')"
            onmouseleave="removeHighlight(this)"
            onmouseenter="highlightElement(this)">
            <img src='../../resources/img/directory-blue.png' alt=''/>
            <p>Folder</p>
        </li>

        <li class="separator"></li>

        <li class='element-choice' onclick="hideContextMenu(); showNewElementModal('file')"
            onmouseleave="removeHighlight(this)"
            onmouseenter="highlightElement(this)">
            <img src='../../resources/img/java-file.png' alt=''/>
            <p>File</p>
        </li>

    </ul>
</ui:composition>
