#login-form {
    float: right;
    width: 300px;
}

#login-form > input[type=text], input[type=password]{
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
}

#login-form\:error-message {
    display: block;
    height: 12px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 12px;
    color: #d85a30;
    margin: 10px 0 0;
    padding: 0;
}

#login-form\:email-login-form {
    width: 280px;
    margin-bottom: 5px;
}

#login-form\:password-login-form {
    width: 150px;
}

#login-form > a.button {
    float: right;
}

#header-wrapper {
    margin-bottom: 1%;
}

.section-wrapper {
    width: 100%;
}

.padding-bottom-70 {
    padding-bottom: 70px;
}

.section-bg-white {
    background-color: white;
}

.section {
    width: 80%;
    margin: 0 auto;
}

.half {
    float: left;
    width: 39%;
}

.left {
    border-right: 1px solid lightgrey;
    padding-right: 10%;
}

.right {
    padding-left: 10%;
}

h1 {
    display: inline-block;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 1.2px;
    color: #444a54;
    margin: 100px 0;
    padding: 0;
}

h2 {
    display: inline-block;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    letter-spacing: 1.2px;
    text-align: justify;
    font-size: 20px;
    color: #444a54;
    margin: 0;
    padding: 0;
}

#signup-form > input[type=text] {
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
    margin-bottom: 5px;
    float: right;
}

#signup-form\:email-signup-form, #signup-form\:password-signup-form {
    width: 90%;
}

#signup-form\:password-signup-form {
    float: right;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
    margin-bottom: 10px;
}

#signup-form\:first-name-signup-form {
    width: 40%;
    float: left;
    margin-right: 15px;
}

#signup-form\:last-name-signup-form {
    width: 40%;
}

#signup-form > a.button {
    display: inline-block;
    width: 30%;
    text-align: center;
    float: right;
}

#signup-form\:error-message {
    display: inline-block;
    float: right;
    height: 15px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 15px;
    color: #d85a30;
    margin: 15px 0 0;
    padding: 0;
}

.third {
    float: left;
    width: 33%;
}

.padding-5 {
    width: 23% !important;
    padding: 5%;
}

.ide-logo {
    display: block;
    margin: auto;
    width: 40%;
    max-width: 40%;
}

.orange-arrow {
    display: block;
    width: 75%;
    max-width: 75%;
}

.arrow-left {
    float: right;
    margin: 50px 0 0;
}

.arrow-right {
    float: left;
    margin: 50px 0 0;
}

.arrow-bottom {
    margin: 50px auto;
}

h3 {
    display: inline-block;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    letter-spacing: 1.2px;
    text-align: justify;
    font-size: 15px;
    color: #444a54;
    margin: 30px 0 0 0;
    padding: 0;
}

#reset-menu-selected {
    display: none;
}