@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/ProximaNova-Bold.otf')  format('opentype'),
    url('fonts/ProximaNova-Bold.woff') format('woff'), url('fonts/ProximaNova-Bold.ttf')  format('truetype'), url('fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/ProximaNova-Regular.woff') format('woff'), url('fonts/ProximaNova-Regular.ttf')  format('truetype'), url('fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}

a {
    text-decoration: none !important;
}

#header-wrapper {
    width: 100%;
    height: 15%;
    background-color: white;
    border-bottom: 1px solid #808080;
    box-shadow: 0 1px 10px 1px grey;
}

#header {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

#logo {
    float: left;
    height: 75%;
    max-height: 75%;
    margin-top: 10px;
}

#main-wrapper {
    width: 100%;
    height: 83%;
}

a.button {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #f1f1f1;
    border-radius: 15px;
    padding: 10px 25px;
    background: #d85a30;
    -webkit-transition: color 1s; /* Safari */
    -webkit-transition-timing-function: ease;
    transition: color 1s;
    transition-timing-function: ease;
}

a.button:hover {
    color: #444a54;
}

.placeholder {
    color: lightgrey !important;
}