<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <div class="header-drop-down">
        <h1><h:outputText value="Collaborators" /></h1>
    </div>
    <h:form id="add-collaborators">
        <h:inputText id="new-collaborator" value="#{ProjectManagement.newCollaborator}">
            <f:ajax event="blur" />
        </h:inputText>
        <h:commandLink value="Share" styleClass="button"
                       onclick="return validateNewCollaborator()"
                       action="#{ProjectManagement.addNewCollaborator}">
            <f:ajax render=":error-collaborator :collaborators-list"/>
        </h:commandLink>
    </h:form>

    <h:panelGroup id="error-collaborator">
        <h:outputText value="#{ProjectManagement.errorMessageCollaborator}" />
    </h:panelGroup>

    <h:panelGroup id="collaborators-list" layout="block">
        <ui:repeat value="#{ProjectManagement.collaboratorsList}" var="collaborator">
            <h:outputText styleClass="collaborator" value="#{collaborator.fullName}" />
            <h:outputText styleClass="collaborator" value=" (Owner)"
                          rendered="#{collaborator.id == ProjectManagement.projectSelected.ownerId}" />
            <br/>
        </ui:repeat>
    </h:panelGroup>
</ui:composition>
