<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <h:form id="new-project-form" layout="block">
        <h1>Create New Project</h1>
        <h:panelGrid id="new-project-form-table" columns="2" columnClasses="labelColumn, inputColumn">
            <h:outputLabel value="Name" />
            <h:inputText id="new-project-name" name="name" />
        </h:panelGrid>

        <div class="bottom">
            <div id="wrapper">
                <a href="#" class="link" onclick="hideNewProjectModal()">
                    Cancel
                </a>
                <a href="#" class="button" onclick="validateNewProject(); createNewProject(); hideNewProjectModal()">
                    Save
                </a>
            </div>
        </div>
    </h:form>
</ui:composition>
