<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <div class="header-drop-down">
        <h1><h:outputText value="Snapshots" /></h1>
        <div class="button-wrapper">
            <h:outputLink value="#" styleClass="button">
                Save Project State
            </h:outputLink>
        </div>
    </div>
    <h:panelGroup styleClass="drop-down-list-empty" rendered="#{empty ProjectManagement.snapshotsList}">
        <h:outputText value="No snapshots for this project" />
    </h:panelGroup>
    <h:panelGroup id="snapshots-list" layout="block"
                  rendered="#{not empty ProjectManagement.snapshotsList}">
        <ui:repeat value="#{ProjectManagement.snapshotsList}" var="snapshot">
            <h:outputLink value="#" styleClass="snapshot">
                #{snapshot.name}
            </h:outputLink>
        </ui:repeat>
    </h:panelGroup>
</ui:composition>
