<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<f:view>
    <h:head>
        <title>Prototype</title>
        <link rel="stylesheet" type="text/css" href="../resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../resources/css/index.css"/>

        <script language="JavaScript" type="text/javascript" src="../resources/js/jquery-1.12.3.js"></script>
        <script language="JavaScript" type="text/javascript" src="../resources/js/account.js"></script>

    </h:head>
    <h:body>
        <div id="header-wrapper">
            <div id="header">
                <h:graphicImage id="logo" value="../resources/img/logo-thesis.png"/>

                <h:form id="login-form">
                    <h:outputText id="error-message" value="#{AccountManagement.loginUnsuccessful}"/>
                    <h:inputText id="email-login-form" tabindex="1" value="#{AccountManagement.loginEmail}">
                        <f:ajax event="blur" />
                    </h:inputText>
                    <h:inputSecret id="password-login-form" tabindex="2" value="#{AccountManagement.loginPassword}">
                        <f:ajax event="blur" />
                    </h:inputSecret>
                    <h:commandLink value="Login" styleClass="button" tabindex="3" onclick="return validateLoginInput()"
                                   action="#{AccountManagement.login}">
                        <f:ajax render=":login-form:error-message"/>
                    </h:commandLink>
                </h:form>
            </div>
        </div>
        <div class="section-wrapper padding-bottom-70">
            <div class="section">
                <h1>Develop Anywhere. Anytime. With Anyone.</h1>
                <div class="half left">
                    <h2>Prototype is a cross-application system for real-time collaboration in Java projects.</h2>
                </div>
                <h:form id="signup-form" styleClass="half right" >
                    <h:inputText id="last-name-signup-form" tabindex="5" value="#{AccountManagement.lastName}">
                        <f:ajax event="blur" />
                    </h:inputText>
                    <h:inputText id="first-name-signup-form" tabindex="4" value="#{AccountManagement.firstName}">
                        <f:ajax event="blur" />
                    </h:inputText>
                    <h:inputText id="email-signup-form" tabindex="6" value="#{AccountManagement.email}">
                        <f:ajax event="blur" />
                    </h:inputText>
                    <h:inputSecret id="password-signup-form" tabindex="7" value="#{AccountManagement.password}">
                        <f:ajax event="blur" />
                    </h:inputSecret>
                    <h:commandLink value="Sign Up" styleClass="button" onclick="return validateSignUpForm()"
                                   action="#{AccountManagement.signUp}">
                        <f:ajax render=":signup-form:error-message"/>
                    </h:commandLink>
                    <div style="clear: both"></div>
                    <h:outputText id="error-message" value="#{AccountManagement.signupUnsuccessful}"/>
                </h:form>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="section-wrapper section-bg-white">
            <div class="section">
                <div class="third">
                    <h:graphicImage styleClass="orange-arrow arrow-left" value="../resources/img/home-arrow-left.png"/>
                </div>
                <div class="third padding-5">
                    <h:graphicImage styleClass="ide-logo"
                                    value="../resources/img/prototype.png"/>
                    <h3>
                        Develop your Java program from anywhere by simply connecting to our website.
                    </h3>
                </div>
                <div class="third">
                    <h:graphicImage styleClass="orange-arrow arrow-right"
                                    value="../resources/img/home-arrow-right.png"/>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="section-wrapper section-bg-white">
            <div class="section">
                <div class="third padding-5">
                    <h:graphicImage styleClass="ide-logo" value="../resources/img/eclipse.png"/>
                    <h3>
                        Your work is synchronised and you still get to use your favorite IDE.
                    </h3>
                </div>
                <div class="third">
                    <h:graphicImage styleClass="orange-arrow arrow-bottom"
                                    value="../resources/img/home-arrow-bottom.png"/>
                </div>
                <div class="third padding-5">
                    <h:graphicImage styleClass="ide-logo" value="../resources/img/intellij.png"/>
                    <h3>
                        Access all the features of your preferred IDE and work with your team mates
                        in real-time.
                    </h3>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="section-wrapper section-bg-white">
            <div class="section">
            </div>
        </div>

        <h:commandButton id="reset-project-selected" value="hidden" action="#{ProjectManagement.setProjectSelected(null)}" >
            <f:ajax />
        </h:commandButton>

    </h:body>
</f:view>
</html>
