<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<f:view>
    <h:head>
        <title>#{ProjectManagement.projectSelected.projectName}</title>
        <link rel="stylesheet" type="text/css" href="../../resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../../resources/css/ide/ide.css"/>
        <link rel="stylesheet" type="text/css" href="../../resources/css/ide/new-element.css"/>


        <script language="JavaScript" type="text/javascript" src="../../resources/js/jquery-1.12.3.js"></script>
        <script language="JavaScript" type="text/javascript" src="../../resources/ace/src-noconflict/ace.js" charset="utf-8"></script>
        <script language="JavaScript" type="text/javascript" src="../../resources/ace/src-noconflict/ext-language_tools.js" charset="utf-8"></script>
        <script language="JavaScript" type="text/javascript" src="../../resources/ot/ot.js"></script>
        <script language="JavaScript" type="text/javascript" src="../../resources/js/ide.js"></script>
        <script language="JavaScript" type="text/javascript" src="../../resources/js/ide-panels.js"></script>
        <script language="JavaScript" type="text/javascript" src="../../resources/js/create-new-element.js"></script>
        <script language="JavaScript" type="text/javascript" src="../../resources/js/real-time.js"></script>
        <script language="JavaScript" type="text/javascript" src="../../resources/js/project-management.js"></script>
    </h:head>
    <h:body>
        <div id="top-bar">
            <h:outputLink value="../home/home.xhtml">
                <h:graphicImage value="../../resources/img/Home-Icon-o.png" />
            </h:outputLink>

            <h:outputLink id="project-settings-button" value="#" styleClass="button" onclick="toggleProjectSettings()">
                Project Settings
            </h:outputLink>

            <h:panelGroup id="project-collaborators" layout="block">
                <ui:repeat value="#{ProjectManagement.collaboratorsList}" var="collaborator">
                    <div class="collaborator-icon">
                        <p>#{collaborator.initials}</p>
                        <div class="hidden-collaborator-id">#{collaborator.id}</div>
                        <div class="hidden-collaborator-firstName">#{collaborator.firstName}</div>
                        <div class="hidden-collaborator-lastName">#{collaborator.lastName}</div>
                    </div>
                </ui:repeat>
            </h:panelGroup>

        </div>
        <h:panelGroup id="project-settings" layout="block">
            <ui:include src="include/project-settings.xhtml" />
        </h:panelGroup>
        <h:panelGrid id="main-content-project" columns="3" columnClasses="column-outline, column-editor, column-side">
            <h:form id="project-outline" layout="block">
                <div id="root-folder">
                    <img src="../../resources/img/arrow-down.png" alt=""/>
                    <img src="../../resources/img/directory.png" alt=""/>
                    <p>
                        <h:outputText value="#{ProjectManagement.projectSelected.projectName}" />
                    </p>
                </div>
                <ul class='children'>

                    <ui:repeat value="#{IdeManagement.getProjectElement()}" var="element">

                        <h:panelGroup rendered="#{element.type == 'folder'}">
                            <h:outputText escape="false" value="&lt;li class='folder' oncontextmenu='savePath(this); return showContextMenu(event)'&gt;" />
                            <div class='folder-line'>
                                <img class='folder-arrow' src='../../resources/img/arrow-down.png' alt=''/>
                                <img class='element-icon' src='../../resources/img/directory-blue.png' alt=''/>
                                <p>#{element.name}</p>
                            </div>
                            <div class="hidden-element-id">#{element.id}</div>
                            <div class="hidden-element-type">#{element.type}</div>
                            <div class="hidden-element-path">#{element.path}</div>
                            <div class="hidden-element-package">#{element.packageName == null ? 'null' : element.packageName}</div>
                        </h:panelGroup>

                        <h:panelGroup rendered="#{element.type == 'package'}">
                            <h:outputText escape="false" value="&lt;li class='folder' oncontextmenu='savePath(this); return showContextMenu(event)' &gt;" />
                            <div class='folder-line'>
                                <img class='folder-arrow' src='../../resources/img/arrow-down.png' alt=''/>
                                <img class='element-icon' src='../../resources/img/directory-blue.png' alt=''/>
                                <p>#{element.name}</p>
                            </div>
                            <div class="hidden-element-id">#{element.id}</div>
                            <div class="hidden-element-type">#{element.type}</div>
                            <div class="hidden-element-path">#{element.path}</div>
                            <div class="hidden-element-package">#{element.packageName == null ? 'null' : element.packageName}</div>
                        </h:panelGroup>

                        <h:panelGroup rendered="#{element.type == 'closeFolder'}">
                            <h:outputText escape="false" value="&lt;/li&gt;" />
                        </h:panelGroup>

                        <h:panelGroup rendered="#{element.type == 'openChildren'}">
                            <h:outputText escape="false"
                                          value="&lt;ul class='children' style='height: #{2 + element.children.size() * 14}px' &gt;" />
                        </h:panelGroup>

                        <h:panelGroup rendered="#{element.type == 'closeChildren'}">
                            <h:outputText escape="false" value="&lt;/ul&gt;" />
                        </h:panelGroup>

                        <h:panelGroup rendered="#{element.type == 'class'}">
                            <h:commandLink action="#{IdeManagement.setFileSelected(element)}">
                                <li class='file' onclick="openFile(this)"
                                    oncontextmenu="savePath(this); return showContextMenu(event)">
                                    <div class='file-line'>
                                        <img class='element-icon' src='../../resources/img/java-file.png' alt=''/>
                                        <p>#{element.name}</p>
                                    </div>
                                    <div class="hidden-element-id">#{element.id}</div>
                                    <div class="hidden-element-type">#{element.type}</div>
                                    <div class="hidden-element-path">#{element.path}</div>
                                    <div class="hidden-element-package">#{element.packageName == null ? 'null' : element.packageName}</div>
                                </li>
                                <f:ajax render=":tab-bar" onevent="handleRenderTabBar" />
                            </h:commandLink>
                        </h:panelGroup>

                        <h:panelGroup rendered="#{element.type == 'file'}">
                            <h:commandLink action="#{IdeManagement.setFileSelected(element)}">
                                <li class='file' onclick="openFile(this)"
                                    oncontextmenu="savePath(this); return showContextMenu(event)">
                                    <div class='file-line'>
                                        <img class='element-icon' src='../../resources/img/java-file.png' alt=''/>
                                        <p>#{element.name}</p>
                                    </div>
                                    <div class="hidden-element-id">#{element.id}</div>
                                    <div class="hidden-element-type">#{element.type}</div>
                                    <div class="hidden-element-path">#{element.path}</div>
                                    <div class="hidden-element-package">#{element.packageName == null ? 'null' : element.packageName}</div>
                                </li>
                                <f:ajax render=":tab-bar" onevent="handleRenderTabBar" />
                            </h:commandLink>
                        </h:panelGroup>

                        <h:panelGroup rendered="#{element.type == 'metadata'}">
                            <h:commandLink action="#{IdeManagement.setFileSelected(element)}">
                                <li class='file' onclick="openFile(this)"
                                    oncontextmenu="savePath(this); return showContextMenu(event)">
                                    <div class='file-line'>
                                        <img class='element-icon' src='../../resources/img/java-file.png' alt=''/>
                                        <p>#{element.name}</p>
                                    </div>
                                    <div class="hidden-element-id">#{element.id}</div>
                                    <div class="hidden-element-type">#{element.type}</div>
                                    <div class="hidden-element-path">#{element.path}</div>
                                    <div class="hidden-element-package">#{element.packageName == null ? 'null' : element.packageName}</div>
                                </li>
                                <f:ajax render=":tab-bar" onevent="handleRenderTabBar" />
                            </h:commandLink>
                        </h:panelGroup>

                    </ui:repeat>
                </ul>
            </h:form>

            <h:panelGroup layout="block" id="editor-wrapper">
                <h:form layout="block" id="tab-bar">

                    <ui:repeat value="#{IdeManagement.getOpenTabs()}" var="element">
                        <h:commandLink action="#{IdeManagement.setFileSelected(element)}">
                            <div class="tab #{element.id == IdeManagement.fileSelected.id ? 'selected' : ''}" onclick="selectTab(this)">
                                <img class="element-icon" src="../../resources/img/java-file.png" alt=""/>
                                <p>#{element.name}</p>
                                <div class="close" onclick="preventPropagation(event); closeTab(this)"></div>
                                <h:commandButton styleClass="hidden-close-tab-button" value="hidden"
                                                 onclick="preventPropagation(event)" action="#{IdeManagement.closeTab(element)}" >
                                    <f:ajax render=":tab-bar" onevent="handleRenderTabBar"/>
                                </h:commandButton>
                            </div>
                            <div class="hidden-element-id">#{element.id}</div>
                            <f:ajax render=":tab-bar" onevent="handleRenderTabBar" />
                        </h:commandLink>
                    </ui:repeat>
                </h:form>
                <div id="ide-editor"></div>
            </h:panelGroup>

            <h:panelGroup layout="block" id="side-bar">
                <h:panelGroup id="chat-panel" styleClass="slider" layout="block">
                    <ui:include src="include/chat-panel.xhtml" />
                </h:panelGroup>
                <h:panelGroup id="file-revision-panel" styleClass="slider" layout="block">
                    <ui:include src="include/file-revision-panel.xhtml" />
                </h:panelGroup>
                <div id="chat-side-menu-item" class="side-menu-item" onclick="toggleChatPanel()">
                    <img src="../../resources/img/Discussion-Icon-o.png" alt=""/>
                    <p>Chat</p>
                </div>
                <div id="file-revision-side-menu-item" class="side-menu-item height-100" onclick="toggleFileRevisionPanel()">
                    <img src="../../resources/img/File-revision-Icon-o.png" alt=""/>
                    <p>File Revision</p>
                </div>
            </h:panelGroup>
        </h:panelGrid>
        <div id="bottom-bar">

        </div>

        <h:panelGroup id="project-outline-context-menu" styleClass="project-outline-context-menu" layout="block" >
            <ui:include src="include/project-outline-context-menu.xhtml" />
        </h:panelGroup>

        <h:panelGroup id="project-outline-context-menu-in-src" styleClass="project-outline-context-menu" layout="block" >
            <ui:include src="include/project-outline-context-menu-in-src.xhtml" />
        </h:panelGroup>

        <h:panelGroup id="new-class-block-view" layout="block">
            <ui:include src="include/new-class.xhtml" />
        </h:panelGroup>

        <h:panelGroup id="new-file-block-view" layout="block">
            <ui:include src="include/new-file.xhtml" />
        </h:panelGroup>

        <h:panelGroup id="new-folder-block-view" layout="block">
            <ui:include src="include/new-folder.xhtml" />
        </h:panelGroup>

        <h:panelGroup id="new-package-block-view" layout="block">
            <ui:include src="include/new-package.xhtml" />
        </h:panelGroup>

        <p id="hidden-user-id">#{ActiveUser.activeUser.id}</p>
        <p id="hidden-project-id">#{ProjectManagement.projectSelected.id}</p>
        <p id="hidden-project-name">#{ProjectManagement.projectSelected.projectName}</p>

        <h:commandButton id="refresh-project-structure-button" >
            <f:ajax render=":project-outline" onevent="handleRenderProjectOutline"/>
        </h:commandButton>

        <h:commandButton id="save-last-connection-state" value="hidden" action="#{IdeManagement.saveLastConnectionState()}" >
            <f:ajax />
        </h:commandButton>

    </h:body>
</f:view>
</html>
