#invisible-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.collaborators-drop-down {
    display: none;
    margin: -20px 0 0 -50px;
}

.snapshots-drop-down {
    display: none;
    margin-top: -20px;
}

.dropdown {
    position: absolute;
    min-width: 300px;
    min-height: 200px;
    background-color: white;
    border: 1px solid #f1f1f1;
    box-shadow: 0 1px 10px 1px grey;
    z-index: 2000;
}

.header-drop-down {
    height: 30px;
    line-height: 30px;
    padding: 5px 20px;
    border-bottom: 1px solid #f1f1f1;
}

.header-drop-down > h1 {
    float: left;
    display: inline-block;
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
    margin: 0;
    padding: 0;
}

.header-drop-down > img {
    float: right;
    width: 20px;
    height: 20px;
    margin: 5px 20px 0 0;
    cursor: pointer;
}

.header-drop-down > .button-wrapper {
    float: right;
    height: 30px;
}

.header-drop-down > .button-wrapper > a.button {
    font-size: 12px;
    padding: 5px 15px;
}

#add-collaborators {
    line-height: 0;
    padding: 20px 20px 5px;
}

#add-collaborators > input[type=text] {
    width: 250px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
}

#add-collaborators > .button {
    padding: 5px 15px;
}

#error-collaborator {
    line-height: 12px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 12px;
    color: #d85a30;
    margin: 0 0 0 20px;
    padding: 0;
}

#collaborators-list {
    line-height: initial;
    margin: 10px 0 0 20px;
}

#collaborators-list > .collaborator {
    display: inline;
    line-height: 20px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
    margin: 0;
}

#snapshots-list {

}

#snapshots-list > a.snapshot {

}