#user-account {
    float: right;
    height: 60px;
    margin: 20px 50px 0 0;
}

#user-account > #user-icon {
    float: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #444a54;
}

#user-icon > p {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #d89a57;
}

#user-account > #user-info {
    float: left;
    margin-left: 10px;
}

#user-info > p {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
    margin: 10px 0;
}

#hidden-user-id {
    display: none;
}

#signout > a {
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 12px;
    color: lightgrey;
    text-decoration: none;
}

#signout > a:hover {
    color: #444a54;
}

#main {
    width: 80%;
    height: 100%;
    margin: 1% auto 0 auto;
}

#new-project {
    margin-bottom: 10px;
    padding: 10px 0 30px;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
}

#menu {
    float: left;
    width: 16%;
    height: 93%;
    padding: 2%;
    margin-right: 1%;
    background-color: white;
}

.menu-item {
    height: 35px;
    margin-bottom: 15px;
}

.menu-item > img {
    float: left;
    width: 35px;
    height: 35px;
}

.menu-item > a {
    display: block;
    height: 35px;
    line-height: 35px;
    float: left;
    margin-left: 10px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
    text-decoration: none;
}

.menu-item > a:hover {
    color: #d85a30;
    cursor: pointer;
}

.menu-item .menu-selected {
    font-family: 'ProximaNova-Bold', Arial, sans-serif !important;
    color: #d85a30 !important;
}

#main-content {
    float: left;
    width: 79%;
    min-height: 100%;
    background-color: white;
}

#reset-menu-selected {
    display: none;
}
