

#new-project-block-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(79, 79, 79, 0.8);
}

#new-project-form {
    position:absolute;
    width: 50%;
    height: 50%;
    box-shadow: 0 1px 10px 1px grey;
    background-color: white;
    border: 2px solid #d85a30;
    border-radius:20px;
    padding:20px;
}

#new-project-form > h1 {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 20px;
    color: #444a54;
    width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #f1f1f1;
}

#new-project-form > table {
    margin-top: 20px;
    width: 100%;
}

#new-project-form .labelColumn {
    margin: 0;
    padding: 5px;
    vertical-align: middle;
}

#new-project-form .inputColumn {
    margin: 0;
    padding: 5px;
    vertical-align: middle;
}

#new-project-form label {
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
}

#new-project-form input[type=text] {
    width: 95%;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
}

#new-project-form > .bottom {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

#new-project-form #wrapper {
    float: right;
    height: 50px;
}

#new-project-form a {
    margin-right: 30px;
}

#new-project-form a.link {
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 15px;
    color: lightgrey;
    text-decoration: none;
}

#new-project-form a.link:hover {
    color: #444a54;
}

