.header-bar-projects {
    width: 97%;
    height: 60px;
    line-height: 60px;
    padding: 0 2%;
    background: #f1f1f1;
}

.header-bar-projects > h1 {
    float: left;
    display: inline-block;
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 20px;
    color: #444a54;
    margin: 0;
    padding: 0;
}

.header-bar-projects > .ide-link {
    float: right;
    height: 40px;
    margin: 10px 0 0 20px;
}

.ide-link > img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header-bar-projects > .project-selected-menu {
    float: right;
    height: 40px;
    margin: 10px 100px 0 0;
}

.project-selected-menu > img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.header-bar-projects > #wrapper {
    float: right;
    height: 60px;
    margin-right: 20px;
}

h2 {
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 20px;
    color: #444a54;
    width: 95%;
    margin: 0;
    padding: 20px 0 5px 5%;
}

#shared-project-list {
    display: none;
}

.project-list {
    width: 90%;
    padding: 5% 5% 0 5%;
}

.project-block {
    float: left;
    margin: 0 5% 5% 0;
}

.project-block img {
    width: 133px;
    height: 100px;
    margin: auto;
    cursor: pointer;
}

.project-block > h3 {
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
    margin: 15px 0 0;
    padding: 0;
    text-align: center;
}

#refresh-project-list-button {
    display: none;
}