@font-face {
    font-family: 'Menlo-Regular';
    src: url('../fonts/Menlo-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Menlo-Regular.otf')  format('opentype'),
    url('../fonts/Menlo-Regular.woff') format('woff'), url('../fonts/Menlo-Regular.ttf')  format('truetype'), url('../fonts/Menlo-Regular.svg#Menlo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Menlo-Bold';
    src: url('../fonts/Menlo-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Menlo-Bold.otf')  format('opentype'),
    url('../fonts/Menlo-Bold.woff') format('woff'), url('../fonts/Menlo-Bold.ttf')  format('truetype'), url('../fonts/Menlo-Bold.svg#Menlo-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
    overflow: hidden !important;
}

#top-bar {
    width: 100%;
    height: 55px;
    background-color: #f1f1f1;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 1px 10px 1px grey;
}

#top-bar img {
    float: left;
    height: 45px;
    margin: 5px 0 0 15px;
    cursor: pointer;
}

#top-bar > #project-collaborators {
    float: right;
    height: 35px;
    margin: 10px 200px 0 0;
}

#project-collaborators > .collaborator-icon {
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #444a54;
}

.collaborator-icon > p {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    color: #d89a57;
    margin-top: 10px;
}

.hidden-collaborator-id, .hidden-collaborator-firstName, .hidden-collaborator-lastName {
    display: none;
}

#top-bar > #project-settings-button {
    float: right;
    height: 35px;
    line-height: 35px;
    font-size: 12px !important;
    padding: 0 15px !important;
    margin: 10px 35px 0 0;
    border-radius: 5px;
}

#project-settings {
    height: 0;
}

#project-settings > #project-settings-wrapper {
    display: none;
    margin: 0;
    padding: 0;
}

#project-settings-wrapper > h1 {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
    margin: 0;
    padding: 20px 0 0 20px;
}

#main-content-project {
    table-layout: fixed;
    width: 100%;
    height: 90%;
    background-color: white;
}

.column-outline, .column-editor, .column-side {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid lightgrey;
}

.column-outline {
    width: 250px;
}

.column-editor {
    width: auto;
    z-index: 1000; /*For modal create element*/
}

.column-side {
    width: 25px;
}

#project-outline {
    height: 100%;
    background-color: white;
    padding: 1%;
    font-size: 12px;
    color: #444a54;
    overflow: scroll;
}

#project-outline > #root-folder {
    width: 100%;
    height: 12px;
    line-height: 12px;
    margin-bottom: 5px;
    padding: 0;
}

#root-folder > img {
    float: left;
    height: 12px;
    margin-right: 10px;
}

#root-folder > p {
    font-family: 'Menlo-Bold', Consolas, sans-serif !important;
    margin: 0;
}

#project-outline  ul.children {
    min-height: 12px;
    margin: 0;
    padding-left: 22px;
}

ul.children > li.folder {
    display: inline-block;
    width: 100%;
}

li.folder > .folder-line {
    position: relative;
    width: 100%;
    height: 12px;
    line-height: 12px;
    margin-bottom: 5px;
}

.folder-line > img.folder-arrow, .folder-line > img.element-icon {
    float: left;
    height: 12px;
    margin-right: 10px;
}

.folder-line > img.compilation-cross-marker {
    top: 6px;
    left: 19px;
}

.folder-line > p {
    float: left;
    font-family: 'Menlo-Regular', Consolas, sans-serif;
    margin: 0;
    cursor: default;
}

ul.children > a {
    color: #444a54;
    cursor: default;
    text-decoration: none; /* Chrome */
}

ul.children > a {
    cursor: default;
}

ul.children > a > li.file {
    width: 100%;
    height: 12px;
    margin: 0 0 5px 25px;
    list-style-type: none;
}

li.file > .file-line {
    position: relative;
    display: flex;
    width: 100%;
    height: 12px;
}

.file-line > img.element-icon {
    float: left;
    height: 12px;
    margin-right: 10px;
}

.file-line > img.compilation-cross-marker {
    top: 6px;
    left: -4px;
}

.file-line > p {
    float: left;
    font-family: 'Menlo-Regular', Consolas, sans-serif;
    margin: 0;
}

.collaborator-file-marker {
    background-color: #444a54;
    border-radius: 5px;
    height: 12px;
    padding: 1px 5px;
    margin-left: 5px;
}

.collaborator-file-marker > p {
    font-family: 'Menlo-Regular', Consolas, sans-serif;
    font-size: 10px;
    font-style: italic;
    color: #d89a57;
    margin: 0;
    white-space: nowrap;
}

.hidden-element-id, .hidden-element-type, .hidden-element-path, .hidden-element-package {
    display: none;
}

#editor-wrapper{
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

#tab-bar {
    width: 100%;
    height: 18px;
    background-color: #f1f1f1;
    border-bottom: 3px solid lightgrey;
}

#tab-bar > a {
    cursor: default;
}

#tab-bar .tab {
    position: relative;
    display: inline-block;
    height: 12px;
    border: 1px solid #444a54;
    padding: 2px 5px;
}

#tab-bar .selected {
    background-color: lightgrey;
    border-width: 1px 1px 0 1px !important;
    height: 13px !important;
}

.tab img.element-icon {
    float: left;
    height: 100%;
}

.tab img.compilation-cross-marker  {
    top: 8px;
    left: 1px;
}

.tab p {
    float: left;
    font-family: 'Menlo-Regular', Consolas, sans-serif;
    font-size: 12px;
    color: #444a54;
    margin: 0;
    padding: 0 5px;
}

.tab .close {
    position: relative;
    float: left;
    margin: 2px 0;
    width: 10px;
    height: 10px;
    opacity: 0.3;
}

.tab .close:hover {
    opacity: 1;
    cursor: pointer;
}

.tab .close:before, .tab .close:after {
    position: absolute;
    left: 4px;
    top: 1px;
    content: ' ';
    height: 8px;
    width: 2px;
    background-color: #d85a30;
}

.tab .close:before {
    transform: rotate(45deg);
}

.tab .close:after {
    transform: rotate(-45deg);
}

.tab > .hidden-close-tab-button {
    display: none;
}

.tab .collaborator-tab-marker {
    float: left;
    width: 25px;
    height: 12px;
    margin-right: 5px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #444a54;
}

.collaborator-tab-marker p {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 8px;
    text-align: center;
    color: #d89a57;
    margin-top: 2px;
}

#ide-editor {
    width: 100%;
    height: 96%;
}

#side-bar {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

#side-bar > .side-menu-item {
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

#chat-side-menu-item {
    background-color: #f1f1f1;
}

#file-revision-side-menu-item {
    background-color: #f1f1f1;
}

#side-bar > .height-100 {
    height: 100px;
}

.side-menu-item > img {
    height: 24px;
    width: 24px;

    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

.side-menu-item > p {
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 12px;
    color: #444a54;
    white-space: nowrap;

    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

#side-bar > .slider {
    position: absolute;
    width: 0;
    height: 89.2%;
    background-color: white;
    border: 0 solid lightgrey;
    margin-left: 0;
    margin-top: -1px;
    z-index: 1000;
}

.slider h1 {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
    margin: 0;
    padding: 20px 0 0 20px;
}

#chat-panel-wrapper {
    display: none;
}

#file-revision-panel-wrapper {
    display: none;
}

#bottom-bar {
    width: 100%;
    height: 20px;
    background-color: white;
    border-top: 1px solid lightgrey;
}

img.compilation-cross-marker {
    position: absolute;
    height: 7px;
}

#hidden-user-id, #hidden-project-id, #hidden-project-name {
    display: none;
}

#refresh-project-structure-button, #save-last-connection-state {
    display: none;
}
