.project-outline-context-menu {
    display: none;
    position: absolute;
    width: 200px;
    background-color: white;
    border: 1px solid #f1f1f1;
    box-shadow: 0 1px 10px 1px grey;
    z-index: 1000;
    padding-bottom: 5px;
}

.project-outline-context-menu > .top-row {
    height: 30px;
    line-height: 30px;
    padding: 5px 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid #f1f1f1;
}

.top-row > h1 {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
    margin: 0;
    padding: 0;
}

.project-outline-context-menu > ul {
    margin: 0;
    padding: 0;
}

ul > li.element-choice {
    display: inline-block;
    width: 160px;
    height: 13px;
    padding: 5px 20px;
}

li.element-choice > img {
    float: left;
    width: 13px;
    height: 13px;
    margin-right: 10px;
}

li.element-choice > p {
    float: left;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 14px;
    color: #444a54;
    margin: 0;
    cursor: default;
}

ul > li.separator {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    border-bottom: 1px solid #f1f1f1;
}

#new-folder-block-view, #new-package-block-view, #new-class-block-view, #new-file-block-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000; /*To overlap editor*/
}

.new-element-form  {
    position:absolute;
    min-width: 300px;
    min-height: 150px;
    box-shadow: 0 1px 10px 1px grey;
    background-color: white;
    border: 2px solid #d85a30;
    border-radius:20px;
    padding: 10px 20px;
}

.new-element-form > h1 {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 15px;
    color: #444a54;
    width: 100%;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 1px solid #f1f1f1;
}

.new-element-form > table {
    margin-top: 10px;
    width: 100%;
}

.new-element-form td {
    padding-bottom: 10px;
}

.new-element-form .labelColumn {
    margin: 0;
    padding-right: 10px;
    vertical-align: middle;
}

.new-element-form .inputColumn {
    margin: 0;
    padding-right: 10px;
    vertical-align: middle;
}

.new-element-form label {
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 14px;
    color: #444a54;
}

.new-element-form input[type=text] {
    width: 95%;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 14px;
    color: #444a54;
}

.new-element-form > .bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.new-element-form #wrapper {
    float: right;
    height: 50px;
}

.new-element-form a {
    margin-right: 30px;
}

.new-element-form a.button {
    padding: 5px 15px !important;
}

.new-element-form a.link {
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 15px;
    color: lightgrey;
    text-decoration: none;
}

.new-element-form a.link:hover {
    color: #444a54;
}
