<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:panelGroup id="header-bar-projects" styleClass="header-bar-projects" layout="block">
        <h1>
            <h:outputText value="#{MenuManager.headerTitle}" />
            <h:outputText value=" > #{ProjectManagement.projectSelected.projectName}"
                          rendered="#{not empty ProjectManagement.projectSelected}" />
        </h1>

        <h:outputLink styleClass="ide-link" value="../ide/ide.xhtml" rendered="#{not empty ProjectManagement.projectSelected}" >
            <h:graphicImage value="../../resources/img/View-Icon-o.png" />
        </h:outputLink>

        <h:panelGroup styleClass="project-selected-menu" layout="block"
                      rendered="#{not empty ProjectManagement.projectSelected}">
            <img src="../../resources/img/Group-Icon-o.png" alt="collaborators" onclick="toggleCollaboratorsDropDown()"/>
            <h:panelGroup styleClass="collaborators-drop-down dropdown" layout="block">
                <ui:include src="include/collaborators-drop-down.xhtml" />
            </h:panelGroup>
            <img src="../../resources/img/Snapshot-Icon-o.png" alt="snapshots" onclick="toggleSnapshotsDropDown()"/>
            <h:panelGroup styleClass="snapshots-drop-down dropdown" layout="block">
                <ui:include src="include/snapshots-drop-down.xhtml" />
            </h:panelGroup>
            <img src="../../resources/img/Tool-Icon-o.png" alt="settings" />
        </h:panelGroup>
    </h:panelGroup>

    <h:form id="my-project-list" styleClass="project-list" layout="block">
        <ui:repeat value="#{SystemManagement.myProjectList}" var="project">
            <div class="project-block">
                <h:commandLink action="#{ProjectManagement.setProjectSelected(project)}">
                    <h:graphicImage value="../../resources/img/folder.png" />
                    <f:ajax render=":header-bar-projects" />
                </h:commandLink>
                <h3>#{project.projectName}</h3>
            </div>
        </ui:repeat>
    </h:form>
    <!--<div style="clear: both"></div>-->

    <h:form id="shared-project-list" styleClass="project-list" layout="block">
        <ui:repeat value="#{SystemManagement.sharedProjectList}" var="sharedProject">
            <div class="project-block">
                <h:commandLink action="#{ProjectManagement.setProjectSelected(sharedProject)}">
                    <h:graphicImage value="../../resources/img/folder.png" />
                    <f:ajax render=":header-bar-projects" />
                </h:commandLink>
                <h3>#{sharedProject.projectName}</h3>
            </div>
        </ui:repeat>
    </h:form>

    <h:commandButton id="refresh-project-list-button" >
        <f:ajax render=":my-project-list"/>
    </h:commandButton>

</ui:composition>
