<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:panelGroup id="header-bar-trash" styleClass="header-bar-projects" layout="block">
        <h1>
            <h:outputText value="#{MenuManager.headerTitle}" />
        </h1>
    </h:panelGroup>
</ui:composition>
